body {
   background-color: rgba(56, 57, 57, 0.581);
   text-align: center;  
   color: #fff;
}



.board {
   width: 500px;
   height: 500px;
   display: grid;
   justify-content: center;
   margin: 0 auto;
}

.buttons {
   margin: 20px;
   justify-content: space-between;

}